<div *ngIf="isShowForm">
  <input type="text" placeholder="English" [(ngModel)]="newEn">
  <input type="text" placeholder="Vietnamese" [(ngModel)]="newVn"> <br>

  <button (click)="addWord();">Thêm từ mới</button>

</div>
<button (click)="isShowForm = true" *ngIf="!isShowForm">Thêm từ mới</button><br>

<select [(ngModel)]="FilterData">
<option value="Xem_tat_ca">Xem_tat_ca</option>
<option value="Xem_1">Xem_1</option>
<option value="Xem_2">Xem_2</option>
</select>

<div *ngFor="let word of arrWords">
  <div *ngIf="filterData(word.memorized)">
    <h4>{{word.en}}</h4>
    <h5>{{word.vn}}</h5>

    <button (click)="removeWord(word.id);">remove</button>
    <button (click)="word.memorized = !word.memorized">{{word.memorized ? 'da thuoc' : 'chua thuoc'}}</button>
  </div>
</div>
